* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.createOrderPage {
    width: min-content;
    margin-left: 10px;
}
.createOrderPage .title {
    text-align: start;
    margin-bottom: 15px;
}
.createOrderPageBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 1px solid black;
}
.orderInputsUp {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.orderInputsDown {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.inputBox {
    display: flex;
    flex-direction: column;
}
.inputBox label {
    margin-bottom: 5px;
    text-align: left;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: bold;
}
.inputBox input {
    padding: 5px;
}
button[type="submit"] {
    background-color: #198448;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    height: min-content;
    border-radius: 5px;
}
button[type="submit"]:hover {
    cursor: pointer;
    background-color: #239554;
}
.addFieldBox {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}
.addFieldBox button[type="button"] {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.addFieldBox button[type="button"] .addIcon {
    position: absolute;
    left: -25px;
    top: 19;
}
.addFieldBox button[type="button"]:hover {
    box-shadow: 0px 2px 2px black;
    transition: all 0.5s;
    cursor: pointer;
}
.addFieldBox button[type="button"]:hover .addIcon {
    transition: all 0.5s;
    left: 0;
}
.OrdersListCreate {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.OrdersListCreate .itemsDesc {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.OrdersListCreate .itemsDesc span {
    flex: 0 0 200px;
    text-align: left;
    margin-bottom: 5px;
    white-space: nowrap;
}
.itemData .description {
    width: 200px;
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.itemData .amount {
    width: 200px;
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.OrdersListCreate .itemsDesc span:first-child {
    flex-basis: 0 0 224px;
    flex-shrink: 0;
}
.OrdersListCreate .itemsDesc .emptyBox {
    margin-right: 30px;
    margin-top: 30px;
    display: block;
}
.itemsDataList .positionNumber {
    width: 30px;
}
.itemsDataList .itemData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.deleteItem {
    width: 30px;
    height: 30px;
}
.itemsDataList .itemData div:first-child {
    margin-right: 60px;
}
.itemData .inputItem {
    width: 200px;
    height: 40px;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    box-sizing: border-box;
    outline: none;
}
.itemData .inputItem:focus {
    border: 2px solid blue;
}
.MuiInputBase-input {
    border: 1px solid black;
    border-radius: 5px;
}
.checkBorder {
    border-color: green;
}
.errorBorder {
    border-color: red;
}
.errorsBox {
    width: auto;
    border-radius: 10px;
    margin-top: 50px;
}
.errorsBox .errorLi {
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 104, 104);
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
}
.errorsBox .errorLi .errorMessage {
    display: flex;
    gap: 10px;
}
.provider {
    width: 200px;
}
.generatedItemBox {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.generatedItemBox .inputStateIcon {
    position: absolute;
    right: 5px;
}
.labelBox-create {
    display: flex;
    align-items: center;
}
.labelBox-create div .label {
    gap: 20px;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    height: 20px;
    box-sizing: border-box;
    outline: none;
}
.labelBox-create div:nth-child(1) {
    margin-left: 50px;
    margin-right: 80px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 730px) {
    .labelBox-create div:nth-child(1) {
        margin-left: 32px;
        margin-right: 80px;
    }
    .createOrderPage {
        width: auto;
    }
    .createOrderPageBox {
        flex-direction: column;
    }
    .createOrderPageBox .orderInputsUp {
        flex-direction: column;
    }
    .createOrderPageBox .orderInputsUp .provider {
        width: 100%;
    }
    .createOrderPageBox .orderInputsDown {
        flex-direction: column;
    }
    .createOrderPageBox .orderInputsDown .inputBox {
        width: 100%;
    }
    .createOrderPageBox .orderInputsDown button[type="submit"] {
        width: 100%;
    }
    .createOrderPageBox .orderInputsDown button[type="submit"] {
        margin-top: 30px;
    }
    .OrdersListCreate {
        position: relative;
    }
    .ordersListCreate-wrap {
        overflow: scroll;
    }
    .addFieldBox {
        margin-bottom: 30px;
    }
    .addFieldBox button[type="button"] {
        position: absolute;
        right: 20px;
        bottom: 50px;
    }
}