.contentBox {
    width: 100%;
    height: 100%;
}
.listOrders h1 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}
.MuiPaper-root {
    border: none;
}
.listOrdersTable {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    border-radius: 5px;
    padding: 10px;
}
.listOrderTextInfo {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFD814;
    border-radius: 5px;
}
.orderList {
      display: flex;
      width: 100%;
      box-shadow: 0px 0px 1px  gray;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
}
.item1 {
    width: 100px;
    text-align: left;
}
.item2 {
    width: 200px;
    text-align: left;
}
.item3 {
    margin-left: auto;
}
.emptyCreateOrderBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    background-color: #FFD814;
    border-radius: 5px;
}
.emptyCreateOrderTextInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.emptyCreateOrderBox button {
    width: 120px;
    padding: 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.emptyCreateOrderBox button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 1px black;
}
.newOrderButton {
    width: 150px;
    padding: 10px;
    background-color: #198448;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.newOrderButton:hover {
    cursor: pointer;
    background-color: #239554;
}
.newOrderButton span {
    display: flex;
    align-items: center;
    gap: 5px;
}
.orderListContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
.orderListContent .newOrderButton {
    width: 140px;
}
.navigation-createButton-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 50px 10px;
}
.orderListNavigation {
    display: flex;
    width: min-content;
}
.orderListNavigation button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 10px;
    background-color: lightgray;
    border: none;
}
.orderListNavigation button:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
}
.orderListNavigation button:nth-child(3) {
    border-radius: 0px 5px 5px 0px;
}
.orderListNavigation .navigationActive {
    background-color: #1E93FC;
    color: white;
}
.orderListNavigation .navigationDefault {
    background-color: #A7A7A7;
}
.buttons-options-list-cell {
    display: flex;
}
.buttons-options-list {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
}
.buttons-options-list button {
    width: 80px;
    height: 40px;
}
.openButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border: none;
    background-color: #FFD814;
    border-radius: 5px;
}
.openButton:hover {
    cursor: pointer;
}
.deleteButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border: none;
    background-color: red;
    border-radius: 5px;
}
.deleteButton:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .navigation-createButton-box {
        flex-direction: column;
    }
    .orderListNavigation {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .orderListNavigation button {
        width: 100%;
        
    }
    .orderListNavigation button:nth-child(1) {
        border-radius: 0;
    }
    .orderListNavigation button:nth-child(3) {
        border-radius: 0;
    }
    .newOrderButton {
        width: 100%;
        margin-top: 50px;
    }
    .tableCellNumberEntity span{
        display: inline-block;
        width: 100px;
    }
    .buttons-options-list .openButton {
        width: 40px;
    }
    .buttons-options-list .openButton span{
        display: none;
    }
    .buttons-options-list .deleteButton {
        width: 40px;
    }
    .buttons-options-list .deleteButton span {
        display: none;
    }
}